<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>timesheet app</title>
    <link rel="stylesheet" href="static/assets/css/bootstrap.css" />
    <script src="static/assets/js/jquery.js"></script>
    <script src="static/assets/js/vue.js"></script>
    <script src="static/assets/js/vue-resource.js"></script>
    <!--[if lte IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">timesheet app</a>

            <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text"><user :name="userName"/></span>
                <ul class="navbar-nav mr-auto" v-show="view === 'projects'">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" @click.prevent="logOut">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div v-if="view === 'login' || view === 'register'">
                <auth-card :view="view" @set-view="setView" @store-auth-info="storeAuthInfo" />
            </div>
            <div v-if="view === 'projects'">
                <project-list :user-id="userId" @bad-token="logOut" />
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.timesheet = {
            baseURL: '/db/{{.SdbDBName}}'
        }
    </script>
    <script src="static/assets/js/app.js"></script>
</body>

</html>